
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<QL_BanHangManh_Thang.Models.CartItem>


@if (Model.Count > 0)
{
    Double total = 0;
    int stt = 1;

    <table class="table">
        
        <tr>
            <th>#</th>
            <th>Sản phẩm</th>
            <th>Hình ảnh</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
            <th></th>
        </tr>
        @foreach (var x in Model)
        {
            var thanhtien = x.quantity * x.SanPham.Gia;
            total += thanhtien;

            <tr>
                <td>@(stt++)</td>
                <td>@x.SanPham.TenSanPham</td>
                <td> <img style="max-width:100px" src="@x.SanPham.Anh" /> </td>
                <td>@(x.SanPham.Gia.ToString("n0")) đ</td>
                <td><input asp-for="@x.quantity" id="@($"quantity-{x.SanPham.IdSanPham}")" />
                    <span asp-validation-for="@x.quantity." class="text-danger mb-3"></span></td>
                <td>@(thanhtien.ToString("n0")) đ</td>
                <td>
                    <a class="btn btn-success" asp-route="addcart" asp-route-productid="@x.SanPham.IdSanPham">
                        <span>Tăng</span>
                    </a>
                    <a class="btn btn-success" asp-route="GiamQuantity" asp-route-productid="@x.SanPham.IdSanPham">
                        <span>Giảm</span>
                    </a>
                    <a asp-route="removecart" asp-route-productid="@x.SanPham.IdSanPham"
                       class="btn btn-danger">Xóa</a>
                </td>
            </tr>
        }
        <tr>
            <td colspan="4" class="text-right">Tổng tiền</td>
            <td>@(total.ToString("n0")) đ</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

   

}
else
{
    <p class="alert alert-danger">Giỏ hàng trống</p>
}

