@{
    ViewData["Title"] = "Home Page";
}

@*------------ catolo-----------*@
<section class="hero bgw border-bottom" >
    <div class="container">
        <div class="hero__slider owl-carousel">
            @foreach (var x in ViewBag.listSPGiaMax)
            {
                <div class="hero__items p-0 set-bg"  > 
                    <a asp-action="Detail" asp-route-id="@x.IdSanPham">
                        <img class="mb-3" style="width: 100%; height: 400px; object-fit: none;" src="/@x.Anh" />
                    </a>
                    <div class="row " style="position: absolute; bottom: 60px; left: 70px;">
                        <div class="col-lg-12">
                            <div class="hero__text">
                                <h2 style="text-transform: capitalize;" class="text-danger">@x.TenSanPham</h2>
                                <p class="text-danger"> @String.Format(" Giá: {0:#,##0}", x.Gia) đ </p>
                                <a asp-route="addcart" asp-route-productid="@x.IdSanPham"><span>Mua ngay</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
@*-----------------------------------------------------*@




@*-------------- View sản phẩm -----------------*@

<section class="product spad bgw">
    <div class="container bgw br" >
        <div class="row">

            @*-------------- Trái ----------------------*@


            <div class="col-lg-3 col-md-6  col-sm-8 ">

                @foreach (var y in ViewBag.xListLoaiSP)
                {
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a style="color:black" asp-route-id="@y.IdLoaiSP">
                                <span> @y.TenLoaiSP</span>
                            </a>
                        </li>
                    </ul>

                }

                <ul class="list-group">
                    <li class="list-group-item">
                        <a style="color:black"  asp-controller="Home" asp-action="AllSP">
                            <span> Tất cả sản phẩm</span>
                        </a>
                    </li>
                </ul>
            </div>
            @*-------------------Phải---------------------------------------*@
            <div class="col-lg-9">
                <div class="trending__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4 style="color:black"> Sản phẩm</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @foreach (var x in Model)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div style="background: white; border: 1px solid; height: 380px;" class="product__item__pic p-3  " @* data-setbg="@x.Anh"*@>
                                        <a asp-action="Detail" asp-route-id="@x.IdSanPham"><img class="mb-3" style="width: 100%; border-bottom:1px solid black; height:200px" src="/@x.Anh" /> </a>

                                        <div style="color:red;margin-bottom:10px;">  @String.Format(" Giá: {0:#,##0}", x.Gia) đ</div>
                                        <div style="height:18%;">
                                            <h5><a style="text-transform: capitalize; color: #364b62;" asp-action="Detail" asp-route-id="@x.IdSanPham">@x.TenSanPham</a></h5>
                                        </div>
                                                                               <div style="position: absolute; left: 13%; ">
                                            <a class="btn btn-success" asp-route="addcart" asp-route-productid="@x.IdSanPham">
                                                <span> <i class="bi bi-cart-plus-fill"></i>Thêm vào giỏ hàng</span>
                                            </a>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        }


                    </div>
                    <div>
                        <ul class="pagination justify-content-center">
                            <li class="page-item @(ViewBag.PageIndex==1?"disabled":"")">
                                <a class="page-link"  asp-route-Search="@ViewBag.pSearch" asp-route-id="@(ViewBag.Loai)" asp-route-page="1">&laquo;</a>
                            </li>
                            @for (int i = 1; i <= ViewBag.PageSum; i++)
                            {
                                <li class="page-item @(ViewBag.PageIndex==i?"active":"")">
                                    <a class="page-link"  asp-route-Search="@ViewBag.pSearch" asp-route-id="@(ViewBag.Loai)" asp-route-page="@i">@i</a>
                                </li>
                            }
                            <li class="page-item @(ViewBag.PageIndex==ViewBag.PageSum?"disabled":"")">
                                <a class="page-link"  asp-route-Search="@ViewBag.pSearch" asp-route-id="@(ViewBag.Loai)" method="post" asp-route-page="@ViewBag.PageSum">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>

@*-------------- View sản phẩm -----------------*@

